<h1>About</h1>
<p>Jungle is a website founded by Lighthouse Labs to bring great plants and shrubberies to everyone around the world. Quick and easy UI makes it a breeze to add everything you want to your cart and checkout.</p>
